/* GLOBAL */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura;
    background-color: lightgrey;
}


/* BLOG PAGE */


/* nav bar */
#blog-nav {
    background-color: lightslategray;
    height: 6rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

#blog-nav-logo {
    width: 5rem;
    height: 5rem;
}


#blog-nav-a {
    color: darkgreen;
    font-size: 12px;
    text-decoration: none;
}

#blog-welcome-p {
    padding: 1rem;
    font-size: 1.2rem;
}

#blog-welcome-p >a {
    text-decoration: none;
    color: black;
}

/* main page container */
#main-page-container {
    display: flex;
}


/* blog post container */
#main-blog-posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}

#main-blog-posts {
    background-color: lemonchiffon;
    margin: 0.5rem;
    padding: 1rem;
}

#main-blog-posts-p {
    text-align: center;
    width: 18rem;
}


/* Responsiveness on iPhone x and iPad */
@media screen and (min-width: 700px) and (max-width: 1025px) {
    #main-blog-posts-container {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

}

@media screen and (max-width: 400px) {
    #main-blog-posts-container {
        flex-direction: row;
        padding: 0;
    }

    #blog-welcome-p {
        font-size: 0.8rem;
        text-align: center;
    }

}




/* REGISTER & LOG IN FORMS */ 

#register-body {
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
}


#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px grey;

}

.register-form-h2 {
    text-align: center;
}

.register-form-p {
    position: absolute;    
    text-align: center;
}

.register-form-inputs {
    display: flex;
    flex-direction: column;
}

