/* Register */ 

#register-body {
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
}


#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px grey;

}

.register-form-h2 {
    text-align: center;
}

.register-form-p {
    position: absolute;    
    text-align: center;
}

.register-form-inputs {
    display: flex;
    flex-direction: column;
}

